<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head> 

<body>
	<div class="menu">
		<img id="menu-logo" src="images/logo.png" alt="logo"> 
	</div>

	<div class="menu">
		<p class="title">MEISTERKOPF</p>
	</div>

	<div class="menu">
		<div id="play-button" type="button" onclick="menu.play()">PLAY</div> 
	</div>

	<div class="menu">
		<p class="subtitle">
			MEISTERKOPF is a browser game adaption of the classic Mastermind game. 
			A player is either a codemaker or a codebreaker.
			At the start of the game, the codemaker will create a secret code of four colors.
			The codebreaker gets 8 guesses to guess the secret code. 
			The players will switch roles when the round ends.
			After two rounds, the player with the highest score wins the game.
		</p>
	</div>

	<div class="menu">
        <hr>
		<p class="subtitle">PLAYERS ONLINE: <%= playersOnline %></p>
		<p class="subtitle">GAMES PLAYED: 	<%= gamesPlayed %></p>
		<p class="subtitle">MINUTES PLAYED: <%= minutesPlayed %></p>
		<p class="subtitle">PAGE VISITS: <%= pageVisits %></p>
		<hr>
		<p class="subtitle">&copy; 2018 Daan de Heij &amp; Thijs Versfelt<p>
	</div> 

	<script src="javascripts/splash.js"></script> 
	<script src="javascripts/sound.js"></script>  
</body>
</html>