<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head> 

<body>
	<div class="menu">
		<img id="menu-logo" src="images/logo.png" alt="logo"> 
	</div> 
	<div class="menu">
		<p class="title">MEISTERKOPF</p>
	</div> 
	<div class="menu">
		<div id="play-button" type="button" onclick="window.location='/play';">PLAY</div> 
	</div> 
	
	<div class="menu">

        <hr>
		<p class="subtitle">PLAYERS ONLINE: <%= playersOnline %></p>
		<p class="subtitle">GAMES PLAYED: 	<%= gamesPlayed %></p>
		<p class="subtitle">MINUTES PLAYED: <%= minutesPlayed %></p>
		<p class="subtitle">PAGE VISITS: <%= pageVisits %></p>
		<hr>
		<p class="subtitle">&copy; 2018 Daan de Heij &amp; Thijs Versfelt<p>
	</div> 
</body>
</html>