body {
	background-color: #faf9f9;
}

.menu{
	width: 20%;
	margin: auto;
	padding: 7px;
}

#menu-logo{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.title{
	margin: 0;
    padding:0;
	
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 200%;
	color: #555b6e;
}

.subtitle{
	margin: 5px;
    padding:0;
	
	
	text-align: left;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 70%;
	color: #555b6e;
}

.side-bar-logo{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:5px;
	display: block;
}

.side-bar-text{
	margin: 0;
    padding:0;
	
	margin-top:5px;
	margin-left:10px;
	
	text-align: left;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 100%;
	color: #555b6e;
}

.side-bar-status-text{
	margin: 0;
    padding:0;
	
	margin-top:170px;
	margin-left:10px;
	
	text-align: left;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 70%;
	color: #555b6e;	
}

#howtoplay-button {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
	padding-top:10px;
	padding-bottom:10px;

	display: block;
    background-color: #89b0ae;
	
    border: none;
	border-radius: 5px;
	
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 110%;
    color: #faf9f9;
    text-align: center;
}

#howtoplay-button:hover {
	background-color: #9ebcb6;
	cursor: pointer;
}

#howtoplay-button:active {
	background-color: #bee3db;
	cursor: pointer;
}

#play-button{
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	padding-top:10px;
	padding-bottom:10px;
	
	display: block;
    background-color: #89b0ae;
	
    border: none;
	border-radius: 5px;
	
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 110%;
    color: #faf9f9;
	text-align: center;
	transition: all 0.25s ease-out;
	cursor: pointer;
	border-style: none;
}

#play-button:hover {
	background-color: #9ebcb6;
	cursor: pointer;
}

#play-button:active {
	background-color: #bee3db;
	cursor: pointer;
}

#submit-button{
	float:left;
	width: 100px;
	height: 30px;

	margin-left:10px;
	padding:10px;
	display: block;
    background-color: #89b0ae;
	transition: opacity 5s, filter 5s;
    border: none;
	border-radius: 5px;
	
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 130%;
    color: #faf9f9;
    text-align: center;
}

#submit-button:hover {
	background-color: #9ebcb6;
	cursor: pointer;
}

#submit-button:active {
	background-color: #bee3db;
	cursor: pointer;
}

#container{
	width: 500px;
	margin:auto;
	margin-top:30px;
}

#board{
	float:left;
	width: 300px;
	height: 430px;
	border-radius: 10px;
	background-color: #eaeaea;
	margin-bottom:10px; 
	transition: opacity 5s, filter 5s;
}

#color-picker{
	width: 500px;
	height: 60px;
	transition: opacity 5s, filter 5s;
}

#color-picker-grid{
	float:left;
	width: 300px;
	height: 50px;
	
	border-radius: 10px;
	background-color: #eaeaea;
	
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	//border: 1px solid green;
}

.color-picker-grid-item{
	//border: 1px solid green;
}

.color-picker-slot{
	margin:25%;
	height:50%;
	display: block;
	
	border:none;
	border-radius: 50%;
}

#color-picker-slot-0{
	background-color:#ffd08e;
}

#color-picker-slot-1{
	background-color:#efc3f5;
}

#color-picker-slot-2{
	background-color:#5273af;
}

#color-picker-slot-3{
	background-color:#bcbd8b;
}

#color-picker-slot-4{
	background-color:#d35269;
}

#color-picker-slot-5{
	background-color:#704c55;
}

#side-bar{
	float:left;
	width: 120px;
	height: 430px;
	transition: opacity 5s, filter 5s;
	margin-left:10px;
	display: block;
}

.code-peg-grid {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	transition: opacity 5s, filter 5s;
}

.key-peg-grid {
	display: grid;
	grid-template-columns: auto auto;
	padding-top:15px;
	padding-bottom:5px;
	grid-gap: 5px 0;
}

.code-peg-grid-item{
	height:45px;
}


.key-peg-grid-item{
	
}

.line{
	margin-top: 10px;
	margin-bottom: 0;
	margin-left:20px;
	margin-right:80px;
	
	height: 1px;
	color: red;
	background-color: #c2c2c2;
	border: none;
}

.code-peg-slot {
	margin:26%;
	height:55%;
	display: block;
    background-color: #f1f1f1;
	
	border-style: solid;
	border-width:2px;
	border-color:#555b6e;
	border-radius: 50%;
	transition: background-color 0.8s ease;
}

.code-peg-slot:hover{
	animation: heartbeat 0.5s ease-in-out both
}

.key-peg-slot {
	margin:auto;
	width:35%;
	height:100%;
	display: block;
    background-color: #a5a9b7;
	border-radius: 50%;
	transition: background-color 0.5s ease;
}

.disabled {
	opacity: 0.2;
	filter: blur(1px); 
	pointer-events: none;
}

.hidden {
	opacity: 0;
	filter: blur(1px); 
	pointer-events: none;
}

@keyframes heartbeat {
	from {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: center center;
			  transform-origin: center center;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	10% {
	  -webkit-transform: scale(0.91);
			  transform: scale(0.91);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	17% {
	  -webkit-transform: scale(0.86);
			  transform: scale(0.86);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	33% {
	  -webkit-transform: scale(0.7);
			  transform: scale(0.7);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	45% {
	  -webkit-transform: scale(0.75);
			  transform: scale(0.75);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  